[Desktop Entry]
Name=Slack
StartupWMClass=Slack
Exec=env QT_SCALE_FACTOR=1 /usr/bin/slack -s %U
Comment=Slack Desktop
GenericName=Slack Client for Linux
Icon=slack
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=Slack
Name[en_US]=Slack
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=x-scheme-handler/slack;
