#!/bin/bash

# Set config files for easy access
export DOTFILES_DIR="$HOME/dotfiles"
export CONFIG_NVIM="$DOTFILES_DIR/.config/nvim/init.vim"
export CONFIG_TERM="$DOTFILES_DIR/.config/alacritty/alacritty.yml"
export TMUX_CONF="$DOTFILES_DIR/.tmux.conf"

# Make vim the default editor
export EDITOR=/usr/local/bin/nvim;
export TERMINAL="alacritty";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE=" *:ls:cd:cd -:pwd:exit:date:* --help:* -h:pony:pony add *:pony update *:pony save *:pony ls:pony ls *";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

export DBUS_SESSION_BUS_ADDRESS
DBUS_SESSION_BUS_ADDRESS=unix:path=/var/run/user/$(id -u)/bus;

# hidpi for gtk apps
export GDK_SCALE=2
export GDK_DPI_SCALE=0.5
export QT_DEVICE_PIXEL_RATIO=2

# turn on go vendoring experiment
export GO111MODULE=auto

# fzf
# open FZF in a tmux window
export FZF_TMUX=1
export FZF_DEFAULT_OPTS='--height 20% --border'

# Setting ag as the default source for fzf
export FZF_DEFAULT_COMMAND='ag -g ""'

# To apply the command to CTRL-T as well
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
