.extra
bin/
nvim/.netrwhist
files/.local/lib
files.headless/.vim/plugged
files.headless/.vim/sessions
files/.local/share/*
files/.local/lib/*
files/.config/*
files.headless/.config/htop
files.headless/.config/gcloud
files.headless/.config/op
files.headless/.config/perkeep
files.headless/.config/repoctl
files.headless/.config/gh/hosts.yml
files.headless/.config/fastly/
files/.local/state
!.local/share/nvim/shada
!.local/share/applications/
.local/lib
.local/include
.gitconfig
.local/share/applications/mimeapps.list
templated-config.json
.mozilla
.exports_work
.aliases_work
.tmux/plugins/
.tmux/resurrect/
