.extra
.gitconfig
bin/
nvim/.netrwhist
files.headless/.config/**
files.headless/.config/nvim/.undodir
files.headless/.vim/plugged
files.headless/.vim/sessions
files/.local/share/*
files/.local/lib/*
files/.config/*
!.local/share/nvim/shada
!.local/share/applications/
.local/lib
.local/include
.gitconfig
.local/share/applications/mimeapps.list
templated-config.json
.mozilla
.exports_work
.aliases_work
.tmux/plugins/
.tmux/resurrect/
