.extra
.gitconfig
bin/
.config/nvim/.netrwhist
.config/pavucontrol.ini
.config/autostart
.vim/plugged
.config/BraveSoftware
.config/dconf
.config/spotify/*
!.config/spotify/Users/mccurdycolton-user/prefs
.config/pulse
.config/htop
.config/coc
.config/keybase
.config/configstore
.config/zoomus.conf
.config/chromium/
.config/Slack/
.config/dlv
.config/gcloud
.config/Unknown\ Organization/
.local/share/*
!.local/share/nvim/shada
!.local/share/applications/
.local/lib
.local/include
.gitconfig
.local/share/applications/mimeapps.list
templated-config.json
.config/hub
.config/vifm/vifminfo
