[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".zsh/plugins/Aloxaf/fzf-tab"]
	path = .zsh/plugins/Aloxaf/fzf-tab
	url = git@github.com:Aloxaf/fzf-tab
[submodule ".zsh/plugins/zsh-git-prompt"]
	path = .zsh/plugins/zsh-git-prompt
	url = git@github.com:mccurdyc/zsh-git-prompt.git
[submodule "vim-snippets"]
	path = vim-snippets
	url = git@github.com:mccurdyc/vim-snippets.git
[submodule "vim-base16-lightline"]
	path = vim-base16-lightline
	url = git@github.com:mccurdyc/vim-base16-lightline.git
