[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".zsh/plugins/Aloxaf/fzf-tab"]
	path = .zsh/plugins/Aloxaf/fzf-tab
	url = git@github.com:Aloxaf/fzf-tab
[submodule "CustomCSSforFx"]
	path = CustomCSSforFx
	url = https://github.com/mccurdyc/CustomCSSforFx.git
[submodule ".zsh/plugins/zsh-git-prompt"]
	path = .zsh/plugins/zsh-git-prompt
	url = git@github.com:mccurdyc/zsh-git-prompt.git
