##@## ~/.Xresources ##@##
## purpose; catchall configuration place for programs writing to X.
## reminder; this file requires double ## comments for some reason.
## reminder; this file can be reloaded via "xrdb -load ~/.Xresources".
## reminder; see "rofi -dump-xresources" for listing of all options.

## rofi-settings;
rofi.font: Office Code Pro Medium 18
rofi.lines: 5

rofi.color-enabled: true
rofi.color-window: #1d1f21, #1d1f21, #f0c674
rofi.color-normal: #1d1f21, #c5c8c6, #1d1f21, #f0c674, #1d1f21
rofi.color-active: #1d1f21, #f0c674, #1d1f21, #f0c674, #1d1f21
rofi.color-urgent: #1d1f21, #cc6666, #1d1f21, #cc6666, #1d1f21
rofi.location: 6
rofi.yoffset: 0
rofi.xoffset: 0
rofi.width: 100
rofi.fixed_num_lines: 1
rofi.hmode: false

rofi.separator-style: none
rofi.hide-scrollbar: true

