/* styling for vimfx hints mode markers */
/* ctrl+shift allows peeking behind them */
#VimFxMarkersContainer .marker {
	font: 0.92em Office Code Pro Medium !important;
	text-transform: uppercase !important;
	padding: 0px 3px 0px 3px !important;
	background-color: #d0d0d0 !important;
	border: solid 1px #bcbcbc !important;
	border-radius: 2px !important;
	color: #000000 !important;
	opacity: 0.98 !important;}
#VimFxMarkersContainer .marker--matched,
#VimFxMarkersContainer .marker-char--matched {color:#d0d0d0 !important;}
#main-window[vimfx-mode="ignore"] #PanelUI-menu-button {background:#ffd7d7;}
